.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img-top {
  max-width: 100px;
  margin-left: auto;
}

.card-body {
  text-align: left;
  align-items: left;
  margin-right: auto;
  max-width: 800px;
}

.card-image {
  align-items: right;
  margin-left: auto;
  max-width: 100px;
}

.card {
  border-radius: 100px !important;
  max-width: 500px;
  cursor: pointer;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: fadein .3s linear forwards;
}

.card-fadeout{
  border-radius: 100px !important;
  max-width: 500px;
  cursor: pointer;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-animation: fadeout .3s linear forwards;
  animation: fadeout .3s linear forwards;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
  
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}